* {
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    transition: 0.2s;
}

h1, h2, h3, h4, h5, p, label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-stretch: expanded;
}

body {
    background-color: rgb(24, 24, 24);
}

button {
    background: none;
    transition: ease-in-out all 0.3s;
    border: none;
    box-shadow: 0;
}

button:hover {
    background-color: rgb(27, 27, 27);
    border-radius: 50px;
    box-shadow: inset 0 0 0 1px white;
}

ul > li {
    display: inline;
}

li {
    width: 60px;
    height: 60px;
}

#blurred-background {
    z-index: -10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-image: url('temp_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(10px);
}

#album-art{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(35, 35, 35);
    margin-top: 15%;
    border-radius: 5px;
}

.album-art-image {
    width: inherit;
    height: inherit;
}

#song-info {
    bottom: 130px;
    width: 100%;
    height: fit-content;
    position: absolute;
    text-align: center;
}

#song-selection-controls {
    width: 100px;
    top: 30px;
    left: 45px;
    position: absolute;
}

#controls {
    /*margin: 0px;*/
    position: absolute;
    bottom: 0px;
    width: calc(100% - 20px);
    height: 120px;
    padding: 10px;
}

.panel {
    background-color: rgb(35, 35, 35, 0.7);
    box-shadow: 5px 0px 25px 2px black; /*x, y, blur, spread*/
}

#play-controls {
    margin-top: 15px;
    vertical-align: middle;
    width: 300px;
    height: 70px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#previous-button, #shuffle-button {
    margin-right: 10px;
}

#next-button, #repeat-button {
    margin-left: 10px;
}

#play-button {
    width: 50px !important;
    height: 50px !important;
}

#volume-controls {
    width: 200px;
    height: 70%;
    right: 10px;
    position: absolute;
    display: inline-block;
}

#volume-controls-holder > button, #volume-controls-holder > input, #volume-controls-holder > p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

#volume {
    width: 100px;
    right: 200px;
    top: 50px;
}

#current-volume {
    /*top: 5px;
    position: absolute;
    right: 20px;*/
}

#seek-controls {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 10px;
}

.slider {
    outline: none;
    -webkit-appearance: none;
    height: 2px;
    background-color: #636363;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.slider::-webkit-slider-thumb:hover {
    width: 12px;
    height: 12px;
    background-color: chartreuse;
}

#seeker {
    width: 85%;
    display: inline-block;
}

#current-track-time {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    left: 0px;
}

#total-track-time {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    right: 0px;
}

#audio-length {     
    position: absolute;
    right: 5%;
    bottom: 10px;
}

#current-track {
    width: 210px;
    height: 70%;
    transition: all ease-in-out 0.2s;
    display: inline-block;
}

#current-track:hover {
    background-color: rgb(240, 230, 140, 0.5);
    border-radius: 2px;
    cursor: pointer;
}

#track-photo {
    height: 100%;
}

.track-info {
    width: fit-content;
    position: absolute;
    margin-left: 84px;
    margin-top: -65px;
}

#track-title-current {
    margin-top: -60px;
}


#track-album-current {
    margin-top: -45px;
}

#seeker-area {
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#track-controls {
    display: inline-block;
    left: calc(50% - 300px);
    position: relative;
    vertical-align: top;
    top: 15px;
}

.control-button > img {
    width: inherit;
    height: inherit;
}

.control-button {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#volume-controls-holder {
    margin-top: 15%;
}

#side-panel {
    width: 320px;
    height: calc(100vh - 140px);
    float: left;
    transition: 0.2s;
    position: relative;
}

#menu-content-upper {
    margin-left: 10px;
    width: calc(100% - 10px);
    margin-top: 10px;
}

.menu-content {
    height: fit-content;
}

#menu-content-lower {

}

#menu-button {
    cursor: pointer;
    display: inline-block;
}

.menu-bar-1, .menu-bar-2, .menu-bar-3 {
    width: 25px;
    height: 1px;
    background-color:white;
    margin: 5px 0;
    transition: 0.2s;
}

.menu-toggle .menu-bar-1 {
    transform: rotate(-45deg) translate(-2px, 6px);
}

.menu-toggle .menu-bar-2 {
    opacity: 0;
}

.menu-toggle .menu-bar-3 {
    transform: rotate(45deg) translate(-1px, -8px);
}

#search-bar-holder {
    width: 95%;
    height: 40px;
    margin-top: 15px;
}

#search-bar {
    width: 100%;
    height: inherit;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    color: white;
    padding-left: 3px;
}

#search-bar:focus {
    background-color: white;
    color: black;
}

.category-item, #add-playlist-button {
    width: calc(100% - 10px);
    height: 50px;
    cursor: pointer;
    padding-left: 15px;
    transition: 0.2s;
}

.category-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.category-item:active {
    border-left: 5px solid blueviolet;
}

#playlist-button {
    width: 80%;
}

.category-item-holder {
    line-height: 45px;
}

hr {
    border: 1px solid rgb(35, 35, 35);
    width: 90%;
    margin: auto;
}

#playlist-section {
    display: inline-block;
    width: 80%;
}

#add-playlist-button {
    left: 64%;
    display: inline-block;
    position: relative;
    color: white;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

#add-playlist-button:hover {
    background-color: rgba(71, 71, 71, 0.5);
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.category-content {
    display: inline-block;
}

#current-screen-holder {
    width: calc(100% - 320px);
    height: calc(100vh - 140px);
    display: inline-block;
}

#current-screen {
    width: 100%;
    height: calc(100vh - 177px);
    overflow: scroll;
    overflow-x: hidden;
}

#screen-title {
    float: left;
    margin-left: 20px;
}

.center {
    text-align: center;
}

.track-item {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.track-item:nth-child(odd) {
    background-color: rgba(24, 24, 24, 0.7);
}

.track-item:nth-child(even) {
    background-color: rgba(54, 54, 54, 0.7);
}

.track-item:nth-child(odd):hover, .track-item:nth-child(even):hover {
    background-color: rgba(87, 87, 87, 0.8);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(20, 20, 20);
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 2px;
}

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.track-item-content {
    vertical-align: sub;
    display: inline-block;
    width: calc(100% / 7);
    height: inherit;
    text-overflow: ellipsis;
}

